.site-header-together {
    padding: 131px 0;
}
.site-header-together__heading {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;    
}
.site-header-together__text {
    max-width: 510px;
    margin: 0 auto;
    padding: 0px;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px; 
    text-align: center;
    color: rgba(255, 255, 255, 0.63);    
}
.site-header-together__btn {
    background-color: #DD783F;
    color: #FFFFFF;    
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 12px 31px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}