.site-header__bg {
    width: auto;
    height: auto;
    background-image: url(/img/bgimg.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-header__chiziq {
    display: none;
}
.site-header__list {
    display: flex;
    list-style: none;
    padding-left: 0px;
}
.site-header__logo {
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;    
}
.site-header__link {
    margin-left: 40px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;    
}

@media only screen and (max-width:550px) {
    .site-header__list {
        display: none;
    }
    .site-header__chiziq {
        display: block;
    }
}